<% if user.present?  %>
  <p class="block mt-4 lg:inline-block lg:mt-0 text teal-200 mr-4"><%= email %></p>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= button_to "Sign up", new_user_registration_path,
    class: "block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4" %>
  <%= button_to "Sign in", new_user_session_path,
    class: "block mt-4 lg:inline-block lg:mt-0 text-teal-50 hover:text-white mr-4" %>
<% end %>
