<footer class="fixed bottom-0 flex w-full">
  <div class="bg-teal-200 w-full grid grid-cols-3 gap-x-3 m-auto">
    <div class="bg-grey-50 py-2 px-2">
      <%= APP_VERSION %>
    </div>
    <div class="bg-grey-50 py-2 px-2">
      (c) 2023 Stoker.dev
     </div>
  </div>
</footer>